.header {
    color: black;
    height: 74px;
}

.header__logo {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 26px;
}

.header__link {
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    font-size: 12px;
    text-decoration: none;
    color: black;
}

.intro {
    background-size: cover;
    background: url(../images/rock.png) center;
    width: auto;
    height: 500px;
    color: white;
}

.intro__title {
    font-family: 'Lora', serif;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 2px;
}

.intro__smalltitle {
    font-family: 'Oxygen', sans-serif;
    font-size: 17px;
    font-weight: 300;
    opacity: 65%;
}

.intro__button {
    background-color: #DD783F;
    border: 0px;
    border-radius: 3px;
    color: white;
    width: 10%;
    height: 40px;
}

.nav {
    background-color: white;
    height: 65px;
}

.nav__link {
    font-family: 'Lora', serif;
    font-weight: 300;
    font-size: 14px;
    text-decoration: none;
    color: #768088
}

.main {
    background-color: #F6F6F6;
}

.main__header {
    font-family: 'Oxygen', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #2E2E2E;
    letter-spacing: 2px;
}

.main__hr {
    width: 20%;
    border: 1px solid #DEDEDE;
}

.main__largepost {
    width: 460px;
    height: 280px;
}

.largepost__header {
    font-family: 'Lora', serif;
    font-size: 27px;
    color: white;
    font-weight: 300;
}

.largepost__info {
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: white;
    opacity: 70%;
}

.authorlarge__info {
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: white;
    opacity: 70%;
}

.largepost__sign {
    background-color: #DD783F;
    border-radius: 2px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    font-size: 13px;
    border: 0;
    text-align: center;
    padding-top: 6px;
    color: white;
    width: 90px;
    height: 26px;
}

.main__smallposts {
    background-color: #F6F6F6;
}

.smallposts__post {
    height: 291px;
    width: 296px;
    background-color: white;
}

.smallposts__picture {
    height: 150px;
    width: 296px;
    margin: 0;
}

.smallposts__header {
    font-family: 'Lora', serif;
    color: #101315;
    font-weight: 400;
    font-size: 16px;
}

.smallposts__info {
    margin: 13px;
    color: #7A7A7A;
}

.authorsmall__info {
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #999999;
}